<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./style.css">
    <title>login MedcAI</title>
</head>
<body>
    <div class="container">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
          <div class="card-body">
            <h5 class="card-title">Login:</h5>
            <form>
              <div class="form-group">
                <div class="iconeeimput"></div>
                <input type="text" class="form-control" id="username" placeholder="E-MAIL">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="password" placeholder="Senha">
                <label>Não possui uma conta?</label>
                <label href="./cadastro.html" class="IrCadastro">Inscrever-se</label>
              </div>
              <div class="form-group">
                <a href="./index.html"> <button id="concluir" class="btn btn-primary btn-lg btn-block">Concluir</button> </a>
              </div>
              <div class="form-group">
                <a href="./esqueceusenha.html"> <button id="EsqSenha" class="btn btn-primary btn-lg btn-block">Esqueceu a senha?</button> </a>
              </div>
              <div class="form-group">
                <a href="./facebook"> <button id="logarFacebook" class="btn btn-primary btn-lg btn-block">Entrar com o Facebook</button> </a>
              </div>
              <div class="form-group">
                <a href="./google"> <button id="logarGoogle" class="btn btn-primary btn-lg btn-block">Entral com o Google</button> </a>
              </div>
              
            </form>
          </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>