@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Sora:wght@200;300;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(0deg, rgba(0,10,96,1) 30%, rgba(38,93,116,1) 100%);
  background-attachment: fixed;
}

h1{
  color: #fff;
}

p{
  color: #fff;
  margin: 0;
}

a{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.btn-concluir{
    color: #333;
    border: none;
    font-size: 2em;
    background-color: #D1EEFF;
    width: 80vw;
    border-radius: 15px;
    max-width: 400px;
    transition-duration: 0.2s;
}

.btn{
  color: #333;
  font-size: 1.5em;
  background-color: #D1EEFF;
  border-radius: 15px;
  max-width: 500px;
  transition-duration: 0.2s;
}

.btn-concluir:hover{
  background-color: #00a2ff;
  color: white;
}

.btn:hover{
  background-color: #00a2ff;
  color: white;
}

.input{
  color: #333;
  font-size: 1.5em;
  background-color: #D1EEFF;
  border-radius: 15px;
}

.div-imput{
  width: 90vw;
}

.center-middle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.custom-container {
  min-width: 260px;
  max-width: 500px;
  min-height: 600px;
  max-height: 844px;
}

@media (max-width: 358px ){

  .btn-concluir{
      color: #333;
      font-size: 1.5em;
      background-color: #D1EEFF;
      width: 80vw;
      border-radius: 15px;
      max-width: 400px;
  }
  
  .btn{
    color: #333;
    font-size: 1em;
    background-color: #D1EEFF;
    border-radius: 15px;
    max-width: 500px;
  }
  
  .input{
    color: #333;
    font-size: 1em;
    background-color: #D1EEFF;
    border-radius: 15px;
  }
}