@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Sora:wght@200;300;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(0deg, rgba(0,10,96,1) 30%, rgba(38,93,116,1) 100%);
  background-attachment: fixed;
}

h1{
  color: #fff;
}

p{
  font-size: 0.9em;
  font-weight: 300;
  color: #fff;
  margin: 0;
}

.div-img{
  max-width: 400px;
  max-height: 200px;
}

.btn-concluir{
  border: none;
  height: 60px;
  color: #333;
  font-weight: 400;
  font-size: 1.5em;
  background-color: #D1EEFF;
  max-width: 400px;
  width: 80vw;
  border-radius: 10px;
  transition-duration: 0.2s;
}

.btn-concluir:hover{
  background-color: #00a2ff;
  color: white;
}

.input{
  max-width: 400px;
  width: 80vw;
  margin: 0 auto;
  height: 50px;
  background-color: #D1EEFF;
  border-radius: 10px;
}

.inp{
  font-size: 1em;
  color: #333;
}

.div-imput{
  width: 100vw;
}

.div-en{
  width: 90vw;
}

.inputcheck{
  background-color: transparent;
  width: 20px;
  height: 20px;
}

.center-middle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.custom-container {
  min-width: 260px;
  max-width: 500px;
  min-height: 600px;
  max-height: 844px;
}

@media (max-width: 358px ){

  .inp{
    font-size: 0.8em;
  }

}